.idea/
CMakeLists.txt
cmake-build-debug/
main
main_dir
main_nftw
main_fork
main_dir_fork
main_with_restr
looper
child
barber
master
slave
client
server
main.o
main_dynamic
main_shared
table_manager.a
table_manager.o
table_manager.so
table_manager_static.a
table_manager_static.o
table_manager_static.so
time_full.o
out
main_a
main_b
